 /* Bryce Isaacs,
 March 4, 2025 */
html body{
	background-color: #B8D1EB;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
}

#outerwrapper {
	font-family: 'Times New Roman', Times, serif;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
} 

.floatleft { 
float: left;
margin-right: 3%;
}

.floatright {
float: right;
margin-left: 3%;
}

main{
	background-color: #C5A98B;
	padding: 10px;
}
main ul{
	list-style-image: url('../images/tomato.png')
}


main, footer { 
clear: both;
}
ul{
	list-style-type: none;
}

h1{
	font-family: 'Arial', sans-serif;
	font-size: 40px;
}
h2{
	font-family: 'arial', sans-serif;
	font-weight: normal;
	font-style: italic;
}

footer{
	font-size: .75em;
	text-align: center;
	background-color: darkcyan;
	padding-top: 10px;
	padding-bottom: 10px;
}
