table {
    border:2px solid black;
    background-color: lightgrey;
    width: 80%; border-collapse: collapse;
    margin-left:10%;
    margin-right:10%;
    text-align: left;
    font-size: 20px;
    
}

caption {font-size: 24px; color:black;}

tr:nth-child(odd) {background-color:rgb(138, 188, 188)}

tr:nth-child(even) {background: rgb(228, 242, 250)}

.label{background-color: rgb(231, 206, 106)}
  

